.notificacion{
    background-color: red;
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    position: fixed;
    top: 30px;
    right: 10px;
    text-align: left;
    border: 1px solid white;
    z-index: 100;
}

.select_location {
    color: white;
    margin-bottom: 16px;
    font-size: x-large;
}